---
name: "workflow"

'on':
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:
    branches:
      - master
  
jobs:
  run_if:
    if:  startsWith(github.head_ref, 'releases/')
    runs-on: ubuntu-latest
    steps:
      - run: echo "The head of this PR starts with 'releases/'"
    
      - name: Checkout code
        uses: actions/checkout@v1
      -  name: Configure AWS credentials
         uses: aws-actions/configure-aws-credentials@v1
         with:
               aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
               aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
               aws-region: ${{ secrets.AWS_REGION }}
      -  name: Login to Amazon ECR
         id: login-ecr
         uses: aws-actions/amazon-ecr-login@v1
        
        
